<ion-header>
  <ion-navbar padding></ion-navbar>
</ion-header>

<ion-content padding>
  <div class="title_ventas">
    <p>Mis Ventas</p>
    <ion-spinner item-center name="dots" *ngIf="loading"></ion-spinner>
    <h1 *ngIf="!loading">{{totalVentagtq | number:'.2-2'}} <sup>GTQ</sup></h1>
  </div>

  <div class="ed-container">
    <div class="ed-item s-1-3">
      <div class="container__btnfiltro">
        <button ion-button class="btn_filtro" [ngClass]="{active_btnfiltro: filtroDia}" (click)="filtrarDia()">Día</button>
      </div>
    </div>

    <div class="ed-item s-1-3">
      <div class="container__btnfiltro">
        <button ion-button class="btn_filtro" [ngClass]="{active_btnfiltro: filtroMes}" (click)="filtrarMes()">Mes</button>
      </div>
    </div>

    <div class="ed-item s-1-3">
      <div class="container__btnfiltro">
        <button ion-button class="btn_filtro" [ngClass]="{active_btnfiltro: filtroFecha}" (click)="showDate()">Fecha</button>
      </div>
    </div>
  </div>

  <div class="ed-container" [hidden]="!fil">
    <div class="ed-item s-100">
      <div class="btnfiltro_fecha">
        <ion-item class="bg_item spd spi">
          <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY"  class="input_pago mr_ri" name="expirationMonth"
            [(ngModel)]="fechaInicio"></ion-datetime>
        </ion-item>

        <ion-item class="bg_item spd spi">
          <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="DD/MM/YYYY"  min="2017" max="2040" class="input_pago mr_ri"
            name="expirationYear" [(ngModel)]="fechaFin"></ion-datetime>
        </ion-item>
      </div>
    </div>

    <div class="ed-item s-100">
      <div class="btn_filtrarcontainer">
        <button ion-button class="btn_filfecha" (click)="filtrarFecha()">Filtrar</button>
      </div>
    </div>
  </div>

  <div class="ed-container">
    <div class="ed-item s-100 spd spi">
      <div class="ed-item ed-container card_transaccion"
          [ngClass]="{h_card: !transaccion.shoDetalle, h_cardDetalle: transaccion.shoDetalle, border_tranaccept: transaccion.estado == 2, border_tranreject: transaccion.estado == 3}"
          *ngFor="let transaccion of datosTran">
        <div class="ed-item ed-container h_contcard">
          <div class="ed-item s-30 spi">
            <div class="fecha_container">
              <p>{{transaccion.fecha_transaccion | date:'dd/MM/yyyy'}}</p>
              <p>{{transaccion.fecha_transaccion | date:'shortTime'}}</p>
              <span class="numbard">{{transaccion.accountNumber}}</span>
            </div>
          </div>

          <div class="ed-item s-50 main-center cross-center spd spi">
            <div class="monto_tran">
              <p class="amount">{{transaccion.currency}} {{transaccion.Total | number:'.2-2'}}</p>
            </div>
          </div>

          <div class="ed-item s-20 main-center cross-center spd border_ico">
            <div class="ico_detalle" (click)="showDetalle(transaccion)"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
