<ion-header>
   <ion-navbar hideBackButton="true" padding>
      <ion-buttons start>
         <button ion-button icon-only (click)="mostrarMenu()">
            <ion-icon name="menu"></ion-icon>
            Nuevo producto
         </button>
      </ion-buttons>
   </ion-navbar>
</ion-header>

<ion-content padding>

   <div class="container_box">
      <div class="box_nuevo_producto">
         <form #formProducto="ngForm" class="form_pago" (ngSubmit)="productoCreate(formProducto)" *ngIf="crearClientev">
            <ion-item class="spd spi">
               <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Nombre del producto" name="nombre"
               [(ngModel)]="crearProducto.nombre" required #nombre="ngModel"></ion-input>
            </ion-item>

            <ion-item class="spd spi">
               <ion-input type="numeric" class="input_pago" placeholder="Precio del producto" name="ciudad"
               [(ngModel)]="crearProducto.precio" required #precio="ngModel"></ion-input>
            </ion-item>
            
            <ion-item>
               <ion-textarea class="input_pago" placeholder="Descripción del producto" name="descripcion" [(ngModel)]="crearProducto.descripcion" required></ion-textarea>
            </ion-item>

            <div class="container_scan">
            <button ion-button class="btn_scan" [disabled]="formProducto.invalid" type="submit">Guardar</button>
            </div>
         </form>
      </div>
   </div>

  <form class="form_pago" (ngSubmit)="enviarSoli()" #formCliente="ngForm" [hidden]="!frmShared">
    <div *ngIf="!datosTran.ventaProducto">
      <label>¿Qué cobras?</label>
      <ion-item class="spd spi">
        <ion-input type="text" class="input_pago" autocomplete="on" autocorrect="on" placeholder="Descripción" name="descripcion" [(ngModel)]="cliente.descripcion"
          required #descripcion="ngModel"></ion-input>
      </ion-item>

      <div class="alert_box" *ngIf="descripcion.dirty && descripcion?.errors?.required">
        <p>Descripción requerida</p>
      </div>
    </div>

    <div class="btn_container">
      <button ion-button class="btn_pago" [disabled]="formCliente.invalid" type="submit">Continuar</button>
    </div>
  </form>

  <div class="contianer_buttonsshared" *ngIf="btnShared">
    <h2>¿En dónde lo quieres enviar?</h2>
    <div class="line_separator"></div>

    <div class="ed-container full main-start cross-center">
      <div class="ed-item s-50 main-center">
        <div class="ico-shared ico_whats" (click)="sharedSoli(formCliente, 'wts')"></div>
      </div>
      <div class="ed-item s-50 main-center">
        <div class="ico-shared ico_sms" (click)="sharedSoli(formCliente, 'sms')"></div>
      </div>
      <div class="ed-item s-50 main-center" showWhen="android">
        <div class="ico-shared ico_messenger" (click)="sharedSoli(formCliente, 'mssg')"></div>
      </div>
      <div class="ed-item s-50 main-center">
        <div class="ico-shared ico_mail" (click)="sharedSoli(formCliente, 'mail')"></div>
      </div>
      <div class="ed-item s-50 main-center">
        <div class="ico-shared ico_shared" (click)="sharedSoli(formCliente, 'shrd')"></div>
      </div>
    </div>
  </div>

  <form class="form_pago" (ngSubmit)="enviarMail(formMail)" #formMail="ngForm" *ngIf="frmMail">
    <label>Ingresa el Correo</label>
    <ion-item class="spd spi">
      <ion-input type="email" class="input_pago" placeholder="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
                name="email" [(ngModel)]="cliente.email" #email="ngModel" required></ion-input>
    </ion-item>

    <div class="alert_box" *ngIf="email.dirty && email?.errors?.pattern">
      <p>Correo invalido</p>
    </div>
    <div class="alert_box" *ngIf="email.dirty && email?.errors?.required">
      <p>Correo Requerido</p>
    </div>


    <div class="btn_container">
      <button ion-button class="btn_pago" [disabled]="formMail.invalid" type="submit">Enviar</button>
    </div>
  </form>

  <div class="transaccion_container" *ngIf="irHome">
    <h1>Realizar nueva transacción</h1>
    <div class="btn_container">
      <button ion-button class="btn_pago" type="button" (click)="irSquare()">Aceptar</button>
    </div>
  </div>

  <div class="nuevatran_container" *ngIf="erorTran">
    <h1>Generar Nueva Solicitud</h1>
    <div class="btn_container">
      <button ion-button class="btn_pago" type="button" (click)="irSquare()">Aceptar</button>
    </div>
  </div>
</ion-content>
