<ion-header>
  <ion-navbar padding></ion-navbar>
</ion-header>


<ion-content padding>
  <h1 class="monto" *ngIf="frmSolicitud"> {{datosTran.montoTran | number:'.2-2'}} <sup>{{datosTran.moneda}}</sup></h1>
  <div class="line_separator"></div>

  <form #formCliente="ngForm" class="form_pago" (ngSubmit)="searchCliente(formCliente)" *ngIf="buscarCliente">
    <ion-item class="spd spi">
      <ion-input type="text" autocomplete="on" autocorrect="on" class="input_pago" placeholder="¿Quién es tu cliente?"
        name="nombre" [(ngModel)]="busCliente.nombre" required #nombre="ngModel"></ion-input>
    </ion-item>

    <div class="container_scan">
      <button ion-button class="btn_scan" type="submit">Buscar</button>
    </div>

    <div class="list_clientesnpos" *ngIf="encontradoCliente">
      <div class="ed-container">
        <div class="ed-item ed-container border_item" *ngFor="let cliente of clientes">
          <div class="ed-item s-30 spi cross-center">
            <div class="btn_scliente" (click)="asignarCliente(cliente)">Seleccionar</div>
          </div>

          <div class="ed-item s-40 m-60s spi cross-center">
            <p>{{cliente.nombre}} {{cliente.apellido}}</p>
          </div>

          <div class="ed-item s-30 m-20 spd spi cross-center">
            <p>{{cliente.telefono}}</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container_scan" *ngIf="encontradoCliente">
      <p>¿No encuentras a tu cliente?</p>
      <button ion-button class="btn_nuevo" type="button" (click)="showCrear()">Crear Nuevo</button>
    </div>
  </form>

  <form #formcCliente="ngForm" class="form_pago" (ngSubmit)="clienteCreate(formcCliente)" *ngIf="crearClientev">
    <ion-item class="spd spi">
      <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Nombre" name="nombre"
        [(ngModel)]="crearCliente.nombre" required #nombre="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Apellido" name="apellido"
        [(ngModel)]="crearCliente.apellido" required #apellido="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="email" autocorrect="on" class="input_pago" placeholder="Correo" name="email"
        [(ngModel)]="crearCliente.email" required #email="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="tel" autocorrect="on" class="input_pago" placeholder="Teléfono" name="telefono"
        [(ngModel)]="crearCliente.telefono" required #telefono="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="text" autocorrect="on" class="input_pago" placeholder="NIT opcional" name="nit"
        [(ngModel)]="crearCliente.nit" #nit="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spi spd container_selet">
      <ion-select [selectOptions]="selectOptions" okText="Ok" cancelText="Cancelar" placeholder="País..." name="pais"
        #pais="ngModel" [(ngModel)]="crearCliente.pais" required>
        <ion-option *ngFor="let pais of paises" [value]="pais.code">
          {{ pais.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <div class="alert_box" *ngIf="pais.dirty && pais?.errors?.required">
      <p>País requerido</p>
    </div>

    <ion-item class="spi spd container_selet" *ngIf="crearCliente.pais =='US'">
      <ion-select [selectOptions]="selectOptionsUC" okText="Ok" cancelText="Cancelar" placeholder="Estado US..."
        name="estado" #estado="ngModel" [(ngModel)]="crearCliente.estado" required>
        <ion-option *ngFor="let estadoUS of estadosUS" [value]="estadoUS.code">
          {{ estadoUS.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="spi spd container_selet" *ngIf="crearCliente.pais =='CA'">
      <ion-select [selectOptions]="selectOptionsUC" okText="Ok" cancelText="Cancelar" placeholder="Estado CA..."
        name="estado" #estado="ngModel" [(ngModel)]="crearCliente.estado" required>
        <ion-option *ngFor="let estadoCA of estadosCA" [value]="estadoCA.code">
          {{ estadoCA.name }}
        </ion-option>
      </ion-select>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Ciudad" name="ciudad"
        [(ngModel)]="crearCliente.ciudad" required #ciudad="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi" *ngIf="crearCliente.pais !='GT'">
      <ion-input type="tel" autocorrect="on" class="input_pago" placeholder="Código Postal" name="postalCode"
        [(ngModel)]="crearCliente.postalCode" required #postalCode="ngModel"></ion-input>
    </ion-item>

    <ion-item class="spd spi">
      <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Dirección actual" name="direccion"
        [(ngModel)]="crearCliente.direccion" required #direccion="ngModel"></ion-input>
    </ion-item>

    <div class="container_scan">
      <button ion-button class="btn_scan" [disabled]="formcCliente.invalid" type="submit">Guardar y continuar</button>
    </div>
  </form>

  <form class="form_pago" (ngSubmit)="enviarSoli(formCliente)" #formCliente="ngForm" *ngIf="frmSolicitud">
    <label>¿Qué cobras?</label>
    <ion-item class="spd spi">
      <ion-input type="text" class="input_pago" autocomplete="on" autocorrect="on" placeholder="Descripción" name="descripcion"
        [(ngModel)]="cliente.descripcion" required #descripcion="ngModel"></ion-input>
    </ion-item>

    <div class="alert_box" *ngIf="descripcion.dirty && descripcion?.errors?.required">
      <p>Descripción requerida</p>
    </div>

    <div class="btn_container">
      <button ion-button class="btn_qr" [disabled]="formCliente.invalid" type="submit">Generar QR</button>
    </div>
  </form>

  <ion-card *ngIf="cardQR">
    <ion-card-header>
      <div class="ed-container full">
        <div class="ed-item s-30 spi">
          <div class="container_image">
            <img class="image" [src]="logoEmpresa" alt="Logo Empresa">
          </div>
        </div>

        <div class="ed-item s-70 spi spd">
          <div class="description_header">
            <h1>{{ nombreEmpesa }}</h1>
            <p>{{ telefonoEmpresa }}</p>
          </div>
        </div>
      </div>
    </ion-card-header>

    <ion-card-content>
      <div class="ed-container full">
        <div class="ed-item spd spi main-center cross-center">
          <div class="container_qr">
            <img [src]="_solicitud.qrSoli" alt="QR Solicitud">
          </div>
        </div>

        <div class="ed-item spd spi main-center cross-center">
          <div class="description_footer">
            <p>Haz que tú cliente escanee el código</p>
            <p>para que pueda pagarte</p>
          </div>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <div class="ed-container full" *ngIf="cardQR">
    <div class="ed-item main-center cross-center">
      <button ion-button class="btn_snacearqrapp no_margin" (click)="irHome()">
        Generar Nueva Solicitud
      </button>
    </div>
  </div>

</ion-content>
