info-tienda {
  ion-navbar {
    border-radius: 15px 15px 0 0 !important;

    .toolbar-title {
      color: #fff;
    }
  }

  ion-content {
    border-radius: 15px 15px 0 0 !important;
  }

  .form_pago {
    float: left;
    width: 100%;

      label {
        float: left;
        width: 100%;
        margin-top: 5px;
      }

      .input_pago {
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 0 10px;
        margin: 10px 0;
      }

      .input_pago.ng-invalid.ng-touched {
        border: 1px dashed color($colors,rojo);
      }
  }

  .btn_container {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 20px;
    margin-bottom: 150px;

      .btn_save {
        float: left;
        width: 50%;
        color: #fff;
        background: linear-gradient(90deg,#5477f0 0%,#6c64ee);
        margin: 0;
      }
  }
}
