<ion-header>
  <ion-navbar>
    <ion-title color="blanco">Datos de Tienda</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <div class="ed-container full">
    <form class="form_pago" (ngSubmit)="guardarInfo(formCliente)" #formCliente="ngForm">
      <label class="spi">Correo para el público:</label>
      <ion-item class="spd spi">
        <ion-input type="correo" class="input_pago" placeholder="Correo" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$"
          name="correo" [(ngModel)]="infoTienda.correo" #correo="ngModel" required></ion-input>
      </ion-item>

      <div class="alert_box" *ngIf="correo.dirty && correo?.errors?.pattern">
        <p>Correo invalido</p>
      </div>
      <div class="alert_box" *ngIf="correo.dirty && correo?.errors?.required">
        <p>Correo Requerido</p>
      </div>

      <label class="spi">Teléfono para público:</label>
      <ion-item class="spd spi">
        <ion-input type="tel" class="input_pago" placeholder="Teléfono" pattern="^[0-9-+s()]*$" name="telefono"
          [(ngModel)]="infoTienda.telefono" #telefono="ngModel" required></ion-input>
      </ion-item>

      <div class="alert_box" *ngIf="telefono.dirty && telefono?.telefono?.required">
        <p>Teléfono requerido</p>
      </div>

      <div class="alert_box" *ngIf="telefono.dirty && telefono?.errors?.pattern">
        <p>Teléfono invalido</p>
      </div>

      <label class="spi">Dirección de tu local:</label>
      <ion-item class="spd spi">
        <ion-input type="text" class="input_pago" autocomplete="on" autocorrect="on" placeholder="Dirección"
          name="direccion" [(ngModel)]="infoTienda.direccion" required #direccion="ngModel"></ion-input>
      </ion-item>

      <div class="alert_box" *ngIf="direccion.dirty && direccion?.errors?.required">
        <p>Dirección requerida</p>
      </div>

      <label class="spi">Facebook:</label>
      <ion-item class="spd spi">
        <ion-input type="text" class="input_pago" autocomplete="on" autocorrect="on" placeholder="www.facebook.com/PagaloGT/"
          name="facebook" [(ngModel)]="infoTienda.facebook" #facebook="ngModel"></ion-input>
      </ion-item>

      <label class="spi">Instagram:</label>
      <ion-item class="spd spi">
        <ion-input type="text" class="input_pago" autocomplete="on" autocorrect="on" placeholder="www.instagram.com/pagalo.gt/"
          name="instagram" [(ngModel)]="infoTienda.instagram" #instagram="ngModel"></ion-input>
      </ion-item>

      <div class="btn_container">
        <button ion-button class="btn_save" [disabled]="formCliente.invalid" type="submit">Guardar</button>
      </div>
    </form>
  </div>
</ion-content>
