page-personalizar {

  ion-title {
    .toolbar-title {
      color: #fff;
    }
  }

  .btn_salir {
    float: right;
    width: 60px;
    border-color: #fff;
    color: #fff;
    text-transform: none;

    &.activated {
      background: #6c64ee;
    }
  }

  .image_personalizar {
    float: left;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 400;
    background: url('../../assets/imgs/ico-galeria.svg') no-repeat left center;
    background-size: 30px;
    margin-bottom: 15px;
  }

  .ico_infop {
    float: left;
    width: 100%;
    height: 35px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 35px;
    font-size: 18px;
    font-weight: 400;
    background: url('../../assets/imgs/ico-infop.svg') no-repeat left center;
    background-size: 30px;
    margin-bottom: 15px;
  }

  .flex_menu {
    float: left;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

}
