<ion-header>
  <ion-navbar padding></ion-navbar>
</ion-header>


<ion-content>
  <ion-item [hidden]="!frmTarjeta">
    <h1 class="monto"> {{datosTran.montoTran | number:'.2-2'}} <sup>{{datosTran.moneda}}</sup></h1>
    <div class="line_separator"></div>

    <form #formCliente="ngForm" class="form_container" (ngSubmit)="searchCliente(formCliente)" *ngIf="buscarCliente">
      <ion-item class="spd spi">
        <ion-input type="text" autocomplete="on" autocorrect="on" class="input_pago" placeholder="¿Quién es tu cliente?"
          name="nombre" [(ngModel)]="busCliente.nombre" required #nombre="ngModel"></ion-input>
      </ion-item>

      <div class="container_scan">
        <button ion-button class="btn_scan" type="submit">Buscar</button>
      </div>

      <div class="list_clientesnpos" *ngIf="encontradoCliente">
        <div class="ed-container">
          <div class="ed-item ed-container border_item" *ngFor="let cliente of clientes">
            <div class="ed-item s-30 spi cross-center">
              <div class="btn_scliente" (click)="asignarCliente(cliente)">Seleccionar</div>
            </div>

            <div class="ed-item s-40 cross-center">
              <p>{{cliente.nombre}} {{cliente.apellido}}</p>
            </div>

            <div class="ed-item s-30 spd spi cross-center">
              <p>{{cliente.telefono}}</p>
            </div>
          </div>
        </div>
      </div>

      <div class="container_scan" *ngIf="encontradoCliente">
        <p>¿No encuentras a tu cliente?</p>
        <button ion-button class="btn_nuevo" type="button" (click)="showCrear()">Crear Nuevo</button>
      </div>
    </form>

    <form #formcCliente="ngForm" class="form_container" (ngSubmit)="clienteCreate(formcCliente)" *ngIf="crearClientev">
      <ion-item class="spd spi">
        <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Nombre"
          name="nombre" [(ngModel)]="crearCliente.nombre" required #nombre="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Apellido" name="apellido"
          [(ngModel)]="crearCliente.apellido" required #apellido="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="email" autocorrect="on" class="input_pago" placeholder="Correo" name="email"
          [(ngModel)]="crearCliente.email" required #email="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="tel" autocorrect="on" class="input_pago" placeholder="Teléfono" name="telefono"
          [(ngModel)]="crearCliente.telefono" required #telefono="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="text" autocorrect="on" class="input_pago" placeholder="NIT opcional" name="nit"
          [(ngModel)]="crearCliente.nit" #nit="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spi spd container_selet">
        <ion-select [selectOptions]="selectOptions" okText="Ok" cancelText="Cancelar" placeholder="País..." name="pais" #pais="ngModel"
          [(ngModel)]="crearCliente.pais" required>
          <ion-option *ngFor="let pais of paises" [value]="pais.code">
            {{ pais.name }}
          </ion-option>
        </ion-select>
      </ion-item>

      <div class="alert_box" *ngIf="pais.dirty && pais?.errors?.required">
        <p>País requerido</p>
      </div>

      <ion-item class="spi spd container_selet" *ngIf="crearCliente.pais =='US'">
        <ion-select [selectOptions]="selectOptionsUC" okText="Ok" cancelText="Cancelar" placeholder="Estado US..." name="estado"
          #estado="ngModel" [(ngModel)]="crearCliente.estado" required>
          <ion-option *ngFor="let estadoUS of estadosUS" [value]="estadoUS.code">
            {{ estadoUS.name }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="spi spd container_selet" *ngIf="crearCliente.pais =='CA'">
        <ion-select [selectOptions]="selectOptionsUC" okText="Ok" cancelText="Cancelar" placeholder="Estado CA..." name="estado"
          #estado="ngModel" [(ngModel)]="crearCliente.estado" required>
          <ion-option *ngFor="let estadoCA of estadosCA" [value]="estadoCA.code">
            {{ estadoCA.name }}
          </ion-option>
        </ion-select>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Ciudad" name="ciudad"
          [(ngModel)]="crearCliente.ciudad" required #ciudad="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi" *ngIf="crearCliente.pais !='GT'">
        <ion-input type="tel" autocorrect="on" class="input_pago" placeholder="Código Postal" name="postalCode"
          [(ngModel)]="crearCliente.postalCode" required #postalCode="ngModel"></ion-input>
      </ion-item>

      <ion-item class="spd spi">
        <ion-input type="text" autocorrect="on" class="input_pago" placeholder="Dirección actual" name="direccion"
          [(ngModel)]="crearCliente.direccion" required #direccion="ngModel"></ion-input>
      </ion-item>

      <div class="container_scan">
        <button ion-button class="btn_scan" [disabled]="formcCliente.invalid" type="submit">Guardar y continuar</button>
      </div>
    </form>

    <form #formTarjeta="ngForm" class="form_container" [hidden]="!datosVenta" (ngSubmit)="mostrarFirma()">
      <ion-item class="spd spi" *ngIf="!datosTran.ventaProducto" [hidden]="iscanCard">
        <ion-input type="text" autocomplete="on" autocorrect="on" class="input_pago" placeholder="¿Que estoy vendiendo?" name="descripcion" [(ngModel)]="card.descripcion" required #descripcion="ngModel"></ion-input>
      </ion-item>

      <div class="card_container" *ngIf="!iscanCard">
        <label>Nombre y Apellido de la tarjeta</label>
        <ion-item class="bg_item spd spi">
          <ion-input type="text" pattern="^[a-z-A-Z\ ]*$" autocorrect="true" class="input_pago" name="nameCard" [(ngModel)]="card.nameCard"
            required #nameCard="ngModel"></ion-input>
        </ion-item>

        <div class="alert_box" *ngIf="nameCard.dirty && nameCard?.errors?.required">
          <p>Nombre requerido</p>
        </div>

        <div class="alert_box" *ngIf="nameCard.dirty && nameCard?.errors?.pattern">
          <p>Campo invalido</p>
        </div>

        <label>Número de la tarjeta</label>
        <ion-item class=" bg_item spd spi" showWhen="ios">
          <ion-input type="text" step="any" pattern="\\d*" [brmasker]="{mask:'9999-9999-9999-9999', len:19}" class="input_pago" name="accountNumber" [(ngModel)]="card.accountNumber" required #accounNumber="ngModel"></ion-input>
        </ion-item>

        <ion-item class=" bg_item spd spi" showWhen="android">
          <ion-input type="tel" step="any" pattern="^[0-9-+s()]*$" [brmasker]="{mask:'9999-9999-9999-9999', len:19}" class="input_pago"
            name="accountNumber" [(ngModel)]="card.accountNumber" required #accounNumber="ngModel"></ion-input>
        </ion-item>

        <div class="ed-container full">
          <div class="ed-item s-70 spi spd main-start">
            <label>Vencimiento</label>
          </div>

          <div class="ed-item s-30 spi spd main-end">
            <label class="spi">CVV</label>
          </div>
        </div>
        <ion-item class="bg_item spd spi w_treeinputs input_date">
          <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="MM" pickerFormat="MM" class="input_pago mr_ri" name="expirationMonth"
            [(ngModel)]="card.expirationMonth" required #expirationMonth="ngModel"></ion-datetime>
        </ion-item>

        <ion-item class="bg_item spd spi w_treeinputs input_date">
          <ion-datetime cancelText="Cancelar" doneText="Ok" displayFormat="YYYY" pickerFormat="YYYY" [min]="card.expirationYear" max="2040" class="input_pago mr_ri"
            name="expirationYear" [(ngModel)]="card.expirationYear" required #expirationYear="ngModel"></ion-datetime>
        </ion-item>

        <ion-item class="bg_item spd spi w_treeinputs" showWhen="ios">
          <ion-input type="text" pattern="\\d*" maxlength="4" [attr.maxlength]="4" class="input_pago input_cvv" name="Cvv" [(ngModel)]="card.Cvv"
            required #Cvv="ngModel"></ion-input>
        </ion-item>

        <ion-item class="bg_item spd spi w_treeinputs" showWhen="android">
          <ion-input type="tel" pattern="^[0-9-+s()]*$" maxlength="4" [attr.maxlength]="4" class="input_pago input_cvv" name="Cvv"
            [(ngModel)]="card.Cvv" required #Cvv="ngModel"></ion-input>
        </ion-item>

        <div class="btn_container">
          <button ion-button class="btn_pago" [disabled]="formTarjeta?.pending" type="submit">Pagar ahora</button>
        </div>
      </div>
    </form>

    <form #formTarjeta="ngForm" class="form_container" *ngIf="iscanCard" [hidden]="!datosVenta" (ngSubmit)="nextScanCard()">
      <ion-item class="spd spi" *ngIf="!datosTran.ventaProducto">
        <ion-input type="text" autocomplete="on" autocorrect="on" class="input_pago" placeholder="¿Que estoy vendiendo?"
          name="descripcion" [(ngModel)]="card.descripcion" required #descripcion="ngModel"></ion-input>
      </ion-item>

      <div class="container_scan" *ngIf="iscanCard && !buscarCliente && !crearClientev">
        <button ion-button class="btn_scan" type="submit">Escanear Tarjeta</button>
      </div>
    </form>
  </ion-item>

  <div class="container_firma" [hidden]="!firma">
    <div class="firma_item">
      <signature-pad [options]="signaturePadOptions" id="signatureCanvas"></signature-pad>
    </div>

    <div class="container_buttonsfirma">
      <button ion-button (click)="clearFirma()" class="btn_borrar">Borrar</button>
      <button type="button" ion-button class="btn_faceptar" (click)="enviarVentas(formTarjeta)">Aceptar</button>
    </div>
  </div>

  <div class="nuevatran_container" *ngIf="irHome">
    <h1>Realizar nueva transacción</h1>
    <div class="btn_container">
      <button ion-button class="btn_pago" type="button" (click)="irSquare()">Aceptar</button>
    </div>
  </div>

  <div class="nuevatran_container" *ngIf="erorTran">
    <h1>Intentar de nuevo</h1>
    <div class="btn_container">
      <button ion-button class="btn_pago" type="button" (click)="intentarTran()">Aceptar</button>
      <button ion-button class="btn_pago" type="button" (click)="irSquare()">Cancelar</button>
    </div>
  </div>
</ion-content>
