<ion-header>
  <ion-navbar padding></ion-navbar>
</ion-header>


<ion-content padding>
  <ion-item class="spi spd">
    <!-- (ionCancel)="onCancel($event)" -->
    <ion-searchbar [(ngModel)]="buscarProducto" (ionInput)="searchProductos($event)"
                    (ionClear)="cancelSearchProducto($event)" placeholder="Buscar productos"></ion-searchbar>
  </ion-item>

  <div class="contaner_categoria_phone">
    <div class="item_categoria_phone" (click)="getProductos()">
      <p>Todas</p>
    </div>
    <div class="item_categoria_phone" *ngFor="let categoria of _ps.categorias" (click)="getProductosCategoria(categoria)">
      <p> {{ categoria.nombre }} </p>
    </div>
  </div>

  <ion-grid>
    <ion-row>
      <ion-col col-6 *ngFor="let producto of misProductos">
        <div class="card_container">
          <div class="card_header" (click)="showDetalleProducto(producto)">
            <img *ngIf="producto.imagen != ''" [src]="producto.imagen">
            <div class="bg_imageprod" *ngIf="producto.imagen == ''"> {{ producto.nombre | slice:0:1 }} </div>
          </div>

          <div class="card_body">
            <div class="card_title">
              <p>{{ producto.nombre }}</p>
            </div>
            <div class="card_price">
              <p>Q {{ producto.precio | number:'.2-2' }} </p>
            </div>

            <div class="contaner_buttons">
              <button *ngIf="producto.showAgregar" ion-button class="btn_agregar"
                      (click)="activeAgregarProducto(producto)">Agregar</button>
              <div class="container_formproducto" *ngIf="producto.showButtonsAdd">
                <div class="btn_menos" (click)="eliminarProducto(producto)"></div>
                <p> {{ producto.cantidadProducto }} </p>
                <div class="btn_mas" (click)="agregarProducto(producto)"></div>
              </div>
            </div>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
<ion-footer>
  <div class="bnt_carrito" *ngIf="showbutton" (click)="showCarrito()">
    <span class="ico_carrito"></span>
    <p>{{ _ps.carrito.length }} Productos</p>
    <span class="monto_carrito">Q {{ _ps.totalVenta | number:'.2-2' }} </span>
  </div>
</ion-footer>
