<ion-header>
  <ion-navbar></ion-navbar>
</ion-header>


<ion-content>
  <div class="radius_box">
    <div class="ico_pagalo"></div>
  </div>
  <div class="container_box">
    <div class="box_registro">
      <div *ngIf="pasoUno">
        <h1>Iniciando Registro</h1>

        <p>Categoría de Empresa</p>
        <ion-item class="container_selet">
          <ion-label>Categorias</ion-label>
          <ion-select okText="Ok" cancelText="Cancelar" placeholder="Categoría..." [(ngModel)]="registroUsuario.categoria">
            <ion-option *ngFor="let categoria of _rs.categoriaEmpresa" [value]="categoria.id"> {{ categoria.nombre }} </ion-option>
          </ion-select>
        </ion-item>

        <p>Tipo de Empresa</p>
        <ion-item class="container_selet">
          <ion-label>Tipo de Empresa</ion-label>
          <ion-select okText="Ok" cancelText="Cancelar" placeholder="Empresa..." [(ngModel)]="registroUsuario.empresa">
            <ion-option *ngFor="let empresa of _rs.tiposEmpresa" [value]="empresa.id"> {{ empresa.nombre }} </ion-option>
          </ion-select>
        </ion-item>

        <button ion-button class="btn_registroc mtop_bntc" (click)="showInfoUsuario(registroUsuario)">Continuar</button>
      </div>

      <div *ngIf="pasoDos">
        <h1>Info de Usuario</h1>
        <p class="sub_titulo">Toda tu información esta protegida así que no te preocupes.</p>

        <form class="form_registro" #datosUsuario="ngForm" (ngSubmit)="registrarUsuario(datosUsuario)">
          <label class="label_registro">Nombre de la empresa:</label>
          <ion-item class="spd spi">
            <ion-input type="text" class="input_registro" autocorrect="on" name="nombreEmpesa" #nombreEmpesa="ngModel"
              [(ngModel)]="registroUsuario.nombreEmpresa" required></ion-input>
          </ion-item>
          <div class="alert_box" *ngIf="nombreEmpesa.dirty && nombreEmpesa?.errors?.required">
            <p>Nombre Empresa requerido</p>
          </div>

          <label class="label_registro">Nit de la empresa:</label>
          <ion-item class="spd spi">
            <ion-input type="text" class="input_registro" autocorrect="on" name="nitEmpesa" [(ngModel)]="registroUsuario.nitEmpesa"
              required #nitEmpesa="ngModel"></ion-input>
          </ion-item>
          <div class="alert_box" *ngIf="nitEmpesa.dirty && nitEmpesa?.errors?.required">
            <p>Nit requerido</p>
          </div>

          <label class="label_registro">Nombre y Apellido:</label>
          <ion-item class="spd spi">
            <ion-input type="text" class="input_registro" autocorrect="on" name="nombreapellido"
              [(ngModel)]="registroUsuario.nombreapellido" required #nombreapellido="ngModel"></ion-input>
          </ion-item>
          <div class="alert_box" *ngIf="nombreapellido.dirty && nombreapellido?.errors?.required">
            <p>Nombre y Apellido requeridos</p>
          </div>

          <label class="label_registro">Teléfono:</label>
          <ion-item class="spd spi">
            <ion-input type="tel" class="input_registro" autocorrect="on" name="telefonoEmpesa"
              [(ngModel)]="registroUsuario.telefonoEmpesa" required #telefonoEmpesa="ngModel"></ion-input>
          </ion-item>
          <div class="alert_box" *ngIf="telefonoEmpesa.dirty && telefonoEmpesa?.errors?.required">
            <p>Teléfono requerido</p>
          </div>

          <label class="label_registro">Correo electrónico:</label>
          <ion-item class="spd spi">
            <ion-input type="email" class="input_registro" autocorrect="on" name="correoEmpesa" #correoEmpesa="ngModel"
              [(ngModel)]="registroUsuario.correoEmpesa" pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required></ion-input>
          </ion-item>
          <div class="alert_box" *ngIf="correoEmpesa.dirty && correoEmpesa?.errors?.pattern">
            <p>Correo invalido</p>
          </div>
          <div class="alert_box" *ngIf="correoEmpesa.dirty && correoEmpesa?.errors?.required">
            <p>Correo Requerido</p>
          </div>

          <label class="label_registro">Códigode Referido:</label>
          <ion-item class="spd spi">
            <ion-input type="text" class="input_registro" autocorrect="on" name="referidoEmpesa"
              [(ngModel)]="registroUsuario.referidoEmpesa" #referidoEmpesa="ngModel" placeholder="opcional"></ion-input>
          </ion-item>

          <button ion-button class="btn_registroc mtop_bntc" [disabled]="datosUsuario.invalid" type="submit">Continuar</button>
        </form>
      </div>

      <div *ngIf="pasoTres">
        <h1>Registrarse en PAGALO es Fácil y Seguro</h1>
        <p class="sub_titulo">Solo sigue estos simples pasos para terminar tu registro.</p>

        <h1>Confirma tu correo</h1>
        <p class="sub_titulo">Hemos enviado una contraseña temporal para que inicies sesión.</p>

        <h1>Tus Datos</h1>
        <p class="sub_titulo">Llena tus datos personales.</p>

        <h1>Datos de Negocio</h1>
        <p class="sub_titulo">Llena los datos de tu negocio.</p>

        <h1>Datos de Deposito</h1>
        <p class="sub_titulo">Escoge el método de depósito más conveniente.</p>
        <button ion-button class="btn_registroc mtop_bntc" (click)="loginRegistro()">Iniciar Sesión</button>
      </div>
    </div>
  </div>

</ion-content>
