page-pos {
    .title_page {
    font-weight: 300;
    font-family: $source;
  }

  .monto {
    float: left;
    width: 100%;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    color: #000;
  }

  .form_pago {
    float: left;
    width: 100%;

      .input_pago {
        border-radius: 10px;
        border: 1px solid #ddd;
        padding: 0 10px;
        margin-top: 15px;
      }

      .input_pago.ng-invalid.ng-touched {
        border: 1px dashed color($colors,rojo);
      }

      .line_separator {
        margin: 10px 0;
        float: left;
        width: 100%;
        height: 1px;
        background: linear-gradient(90deg,#ff6e64 0%,#ff9951);
      }

      .btn_container {
        float: left;
        width: 100%;
        margin: 0 !important;
        display: flex;
        justify-content: center;
        align-items: center;

          .btn_pago {
            float: left;
            width: 75%;
            background: linear-gradient(90deg,#ff6e64 0%,#ff9951);
            color: #fff;
            font-size: 20px;
            font-weight: bold;
            font-family: $source;
          }
      }
  }

  .container_icopos {
    float: left;
    width: 100%;

      .ico_conexion {
        float: left;
        width: 100%;
        height: 300px;
        background: url('../../assets/imgs/ico-conexionpos.gif') no-repeat top center;
        background-size: 90%;
      }
  }
}
