page-tipo-pago {
  .opciones_container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .ico_opcion {
      float: left;
      width: 200px;
      height: 120px;
      margin-top: 25px;

        .ico_movil {
          float: left;
          width: 100%;
          height: 100%;
          background: url('../../assets/imgs/ico-movil.svg') no-repeat center;
          background-size: 40%;
        }

        .ico_scancard {
          float: left;
          width: 100%;
          height: 100%;
          background: url('../../assets/imgs/ico-scancard.svg') no-repeat center;
          background-size: 50%;
        }

        .ico_solicitudpago {
          float: left;
          width: 100%;
          height: 100%;
          background: url('../../assets/imgs/ico-soli.svg') no-repeat center;
          background-size: 60%;
        }
    }

    .h_soli {
      height: 90px !important;
    }

    p {
      margin-top: 5px;
      font-size: 18px;
      font-weight: normal;
      color: rgb(46, 42, 42);
    }
  }
}
